/*
* General
*/
body {background:#444 url("/admin/img/pattern/px_by_Gre3g.png") repeat;border-top:3px solid #bf4d28}
#header {
	padding-left:10px;padding-right:10px;border: 1px solid #d4d4d4;color:#eee;position:relative;min-height:70px;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	background-color: #1b1b1b;
	background-image: -moz-linear-gradient(top,#222,#111);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
	background-image: -webkit-linear-gradient(top,#222,#111);
	background-image: -o-linear-gradient(top,#222,#111);
	background-image: linear-gradient(to bottom,#222,#111);
	background-repeat: repeat-x;
	border-color: #252525;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff111111',GradientType=0);
}
a {color:#bf4d28;}
a:hover {color:#953d20;text-decoration:none;}
#header .caret {border-top:4px solid #eee;}
#header .menubar {position:absolute;right:0;bottom:0;}
#header ul.inline li {border-left:1px solid #ddd;}
#header ul.inline li:first-child {border-left:none;}
#header .navbar {margin-bottom:0;}
#header .navbar .nav {margin-bottom:-1px;}
#header .navbar .nav>li {border-left:1px solid #ccc;}
#header .navbar .nav>li:first-child {border-left:none}
#header .navbar .nav>li>a {
	color: #555;
	background-color: #e5e5e5;
}
#header .navbar .nav>.active>a, #header .navbar .nav>li>a:hover, #header .navbar .nav>li>a:focus {
	color: #eee;
	background-color: #bf4d28;
}
#header .navbar .btn-navbar {color:#bf4d28;}

footer {color:#eee;}
footer p {margin:0;font-size:11px;}
footer .version {color:#999;}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	color: #fff;
	text-decoration: none;
	background-color: #eee;
	background-image: -moz-linear-gradient(top,#eee,#ddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#ddd));
	background-image: -webkit-linear-gradient(top,#eee,#ddd);
	background-image: -o-linear-gradient(top,#eee,#ddd);
	background-image: linear-gradient(to bottom,#eee,#ddd);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
}
.hide {display:none;}
.show {display:block;}
.message404 {font-size:300%;color:#ddd;text-align:center;margin-top:20px;}
.dl-horizontal dt {width:250px;}
.dl-horizontal dd {margin-left: 270px;}
.icon-thumbs-up {color:green;}
.icon-thumbs-down {color:red;}
.form-error {border:1px solid red;}
td.title {font-weight:bold;}
span.hint, div.hint {margin-left:5px;font-size:11px;color:#aaa;}
.widhtHint input {margin-bottom:0;}
.widhtHint .hint {margin-bottom:10px;}
.error-message {color:#b94a48;}
.error .error-message {margin-bottom:10px;}
input.form-error, select.form-error, textarea.form-error {border-color:#b94a48;}
.breadcrumb {padding:0;}
.breadcrumb>li {color:#666;}
#content .wellcontent {border-top-right-radius:2px;min-height:500px;}
#content .wellWhite {background-color:#fff;}
#content header h1 {padding-bottom:10px;border-bottom:1px solid #ddd;margin-bottom:20px;}
#content form label {font-weight:bold;}
#langMenu i, #langMenu:focus i, #langMenu:visited i {color:white;text-decoration:none}
div.tooltip-inner {max-width:350px;}
div.tooltip-inner h5 {margin:0 0 5px 0;}
div.tooltip-inner div {text-align:left;}

#content .nav-tabs.nav-stacked>li>a {background-color:#fff;}
#content .nav-tabs.nav-stacked>li>a:hover, #content .nav-tabs.nav-stacked>li>a:focus {background-color:#eee;color:#555;text-shadow:0 1px 0 #fff;}
#content .nav-tabs.nav-stacked>li.active>a {background-color:#bf4d28;color:#fff;text-shadow:none;}

form .select .loading {margin:0 0 5px 5px;}

/*
* Login
*/
#containerLogin {width:300px;}
#containerLogin h1 {text-align:center}
#containerLogin h1 img {max-width:278px;}
#containerLogin .checkbox label {font-weight:normal;font-size:12px;}
#containerLogin .footerLinks .signup {font-weight:bold;text-decoration:underline}


/*
* Events
*/
#createEvent {text-align:right;}
#createEvent input {font-size:11px;height:13px;margin-bottom:0;}
#filterEvents select {font-size:11px;height:24px;margin-bottom:0;}

#calendar {width:100%;}
#calendar .links td {width:33%;padding:5px 10px;font-size:18px;}
#calendar .links td.prev {text-align:left;}
#calendar .links td.next {text-align:right;}
#calendar .links td.month {text-align:center;font-weight:bold;}
#calendar .days td {text-align:center;padding:5px 0;}
#calendar .day {border:4px solid #ddd;height:100px;position:relative;background-color:#fff;background-clip:padding-box;padding:5px;width:110px;}
#calendar .day ul {margin:0;padding:0;list-style:none}
#calendar .day ul li {font-size:11px;}
#calendar .day ul a {margin-left:5px}
#calendar .day ul a.registered_0 {color:#999999;}
#calendar .day ul a.registered_1 {color:#3a87ad;}
#calendar .day ul a.registered_2 {color:#468847;}
#calendar .day ul li img {margin-left:2px;}
#calendar .currentDay {background:#e6e6e6;}
#calendar .pastDay {background:transparent;color:#ccc;}
#calendar .pastDay a {color:#ccc;}
#calendar .dayNumber {font-weight:bold;}
#calendar .dayNumber a {margin-right:10px}
#calendar .tooltip-inner h5 {font-size:12px;color:#bf4d28;}
#calendar .tooltip-inner div {font-size:10px;font-weight:normal;}
.form-roles label {display:inline-block;margin-right:10px;}
#eventSignin {overflow:hidden;}
#eventSignin .message {font-size:12px;}
#eventSignin select, #eventSignin input {margin-bottom:0;}
#eventRoles th i {cursor:pointer;}
#eventRoles td {background-color:#fff;background-clip:padding-box}
#eventRoles td hr {border-top:1px solid #dedede;}
#eventRoles td ul {list-style:none;margin:0;padding:0}
#eventRoles td ul li {margin-bottom:5px;font-size:12px}
#eventRoles td ul li span.character {line-height:10px;}
#eventRoles td ul li span.tt {margin-left:5px;cursor:help;}
#eventRoles td ul li span.tt span {font-size:14px;}
#eventRoles td ul li i {cursor:pointer;margin-right:5px;}
#eventRoles ul.validated, #eventRoles ul.waiting {min-height:50px;height:auto!important;height:50px;}
#eventRoles .sortable-placeholder {background:#eee;border:2px dashed #ddd;height:14px;}
#eventRoles li .icon-move {cursor:move;display:none;}
#eventRoles .waiting li:hover .icon-move {display:block;}
#eventRoles .waiting li.nosort:hover .icon-move {display:none;}

#badKitties span {}

#tplName {font-size:18px;display:none;margin:0 15px 0 0;}
#tplName input {font-size:11px;height:11px;}
#tplName span {text-decoration:none;cursor:pointer;}
#tplList {display:none}
#tplList .loading {margin-left:5px;}

#content .eventTemplate label {font-weight:normal;}

/*
* Account
*/
.manageCharacters {text-align:center;}
.manageCharacters p {color:#ccc;}
.manageCharacters a {font-size:28px;}

/*
* Lightbox
*/
/* IMAGE LIGHTBOX SELECTOR */
#imagelightbox {cursor: pointer;position: fixed;z-index: 10000;-ms-touch-action: none;touch-action: none;-webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 );}
/* ACTIVITY INDICATION */
#imagelightbox-loading, #imagelightbox-loading div {border-radius: 50%;}
#imagelightbox-loading {width: 2.5em;height: 2.5em;background-color: #444;background-color: rgba( 0, 0, 0, .5 );position: fixed;z-index: 10003;top: 50%;left: 50%;padding: 0.625em;margin: -1.25em 0 0 -1.25em;-webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 );box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 );}
#imagelightbox-loading div {width: 1.25em;height: 1.25em;background-color: #fff;-webkit-animation: imagelightbox-loading .5s ease infinite;animation: imagelightbox-loading .5s ease infinite;}
@-webkit-keyframes imagelightbox-loading {
	from { opacity: .5;	-webkit-transform: scale( .75 ); }
	50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
	to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}
@keyframes imagelightbox-loading {
	from { opacity: .5;	transform: scale( .75 ); }
	50%	 { opacity: 1;	transform: scale( 1 ); }
	to	 { opacity: .5;	transform: scale( .75 ); }
}
/* OVERLAY */
#imagelightbox-overlay {background-color: #fff;background-color: rgba( 255, 255, 255, .9 );position: fixed;z-index: 9998;top: 0;right: 0;bottom: 0;left: 0;}
/* "CLOSE" BUTTON */
#imagelightbox-close {width: 2.5em;height: 2.5em;text-align: left;background-color: #666;border-radius: 50%;position: fixed;z-index: 10002;top: 2.5em;right: 2.5em;-webkit-transition: color .3s ease;transition: color .3s ease;}
#imagelightbox-close:hover, #imagelightbox-close:focus{background-color: #111;}
#imagelightbox-close:before, #imagelightbox-close:after {width: 2px;background-color: #fff;content: '';position: absolute;top: 20%;bottom: 20%;left: 50%;margin-left: -1px;}
#imagelightbox-close:before {-webkit-transform: rotate( 45deg );-ms-transform: rotate( 45deg );transform: rotate( 45deg );}
#imagelightbox-close:after {-webkit-transform: rotate( -45deg );-ms-transform: rotate( -45deg );transform: rotate( -45deg );}
/* CAPTION */
#imagelightbox-caption {text-align: center;color: #fff;background-color: #666;position: fixed;z-index: 10001;left: 0;right: 0;bottom: 0;padding: 0.625em;}
/* NAVIGATION */
#imagelightbox-nav {background-color: #444;background-color: rgba( 0, 0, 0, .5 );border-radius: 20px;position: fixed;z-index: 10001;left: 50%;bottom: 3.75em;padding: 0.313em;-webkit-transform: translateX( -50% );-ms-transform: translateX( -50% );transform: translateX( -50% );}
#imagelightbox-nav button {width: 1em;height: 1em;background-color: transparent;border: 1px solid #fff;border-radius: 50%;display: inline-block;margin: 0 0.313em;}
#imagelightbox-nav button.active{background-color: #fff;}
/* ARROWS */
.imagelightbox-arrow {width: 3.75em;background-color: #444;background-color: rgba( 0, 0, 0, .5 );vertical-align: middle;display: none;position: fixed;z-index: 10001;top: 50%;margin-top: -3.75em;}
.imagelightbox-arrow:hover, .imagelightbox-arrow:focus {background-color: #666;background-color: rgba( 0, 0, 0, .75 );}
.imagelightbox-arrow:active{background-color: #111;}
.imagelightbox-arrow-left{left: 2.5em;}
.imagelightbox-arrow-right{right: 2.5em;}
.imagelightbox-arrow:before {width: 0;height: 0;border: 1em solid transparent;content: '';display: inline-block;margin-bottom: -0.125em;}
.imagelightbox-arrow-left:before {border-left: none;border-right-color: #fff;margin-left: -0.313em;}
.imagelightbox-arrow-right:before {border-right: none;border-left-color: #fff;margin-right: -0.313em;}
#imagelightbox-loading,#imagelightbox-overlay,#imagelightbox-close,#imagelightbox-caption,#imagelightbox-nav,.imagelightbox-arrow {-webkit-animation: fade-in .25s linear;animation: fade-in .25s linear;}
@-webkit-keyframes fade-in {
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}
@keyframes fade-in {
	from	{ opacity: 0; }
	to		{ opacity: 1; }
}

/* Responsive */
#calendarResponsive {border-bottom:4px solid #ddd}
#calendarResponsive li.calendarRow {border:4px solid #ddd;border-bottom:none;min-height:30px;background:#fff;padding:5px;}
#calendarResponsive li.calendarRow:nth-child(odd) {background:#fafafa;}
#calendarResponsive li.calendarRow span {margin-right:5px;}
#calendarResponsive li.calendarRow img {margin-right:5px;}

/*@media (min-width:768px) and (max-width:1250px) {*/
@media (max-width:1250px) {
}

@media (max-width: 1024px) {
	#header .menubar {position:relative}
}

@media (max-width: 800px) {
	#eventSignin .pull-right {float:none;}
}

@media (max-width: 600px) {
	#calendar .links td .responsive {display:none;}
}

@media only screen and (max-width: 41.250em) {
	#container {width: 100%;}
	#imagelightbox-close {top: 1.25em;right: 1.25em;}
	#imagelightbox-nav {bottom: 1.25em;}
	.imagelightbox-arrow {width: 2.5em;height: 3.75em;margin-top: -2.75em;}
	.imagelightbox-arrow-left {left: 1.25em;}
	.imagelightbox-arrow-right {right: 1.25em;}
}

@media only screen and (max-width: 20em) {
	.imagelightbox-arrow-left {left: 0;}
	.imagelightbox-arrow-right {right: 0;}
}